body {background-color: orange; 
    font-family: 'Georgia'; 
    color:bisque
} 

h1{  
color: bisque;

}  

h2{  
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    } 

    p{  
        color: bisque;
        font-family:'Georgia';
        }