

body {
    background-image: url("https://cdn.bunniktours.com.au/public/posts/January2024/2017%20-%20India%20-%20Ranthambore%20National%20Park%20-%20Padam%20Talao%20-%20Matt%20Baldock.jpg");
   
    
    }
h1{  
color: bisque;

}  

h2{  
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    } 

    p{  
        color: bisque;
        font-family:'Georgia';
        } 

       